@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-black {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* 클릭 차단 */
.bg-black {
  pointer-events: none;
}
